<h1>Welcome <%= @curent_user.name%></h1>

<div class="profile-options"> 
  <%= link_to  "Logout", logout_path , class: 'btn btn-danger' , method: :delete%> 
  <%= link_to  "List All Events", events_path , class: 'btn btn-primary'%> 
</div>

 <div class = 'insider-container'>
    <div class= "created_events">
        <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            Created Events
        </button>
        <% @curent_user.created_events.all.each do |event| -%>           
           <%= link_to  event.title, events_path + '/' + event.id.to_s , class: 'list-group-item list-group-item-action'%> 
        <% end -%>
        <%= link_to  "Create New", events_new_path , class: 'btn btn-primary'%> 
        </div>
    </div>

    <div class= "created_events">
        <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            Want To Attend Events
        </button>
        <% @curent_user.attendedevent.all.each do |event| -%>           
           <%= link_to  event.title, events_path + '/' + event.id.to_s , class: 'list-group-item list-group-item-action'%> 
        <% end -%>

        </div>
    </div>
</div>
